<%= @owner %>, <%= @borrower %> is interested in borrowing <%= @item %>. You can approve this loan by going to <%= @item_url %>. If you need to contact <%= @borrower %> then just reply to this email!

You can also review all your borrowed items, and items borrowed from you on your Loans page:
  <%= @loans_url %>
