<h1>Welcome to <%= AppConfig.site_name %>!</p>

<p>Hi <%= @user.login %>,</p>

<p>You're now a member of <%= AppConfig.site_name %>, and ready to start adding
books and browsing those of others!</p>

<p><%= link_to "Visit the website", root_url %></p>
