/* andreas06 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

body{
background:#222222 url(/images/headergrunge.jpg) repeat-x;
color:#ffffff;
font:76% Georgia,Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}

.pink { color: #D01A71;}

p{
line-height:1.5em;
margin:0 0 15px;
}

a{
color:#d01A71;
font-weight:700;
text-decoration:none;
}

a:hover{
color:#ffffff;
background-color:#d01A71;
}

a img {
  border-width: 0px;
}

hr{
height:1px;
margin:10px 0;
width:98%;
}

dt{
font-weight:700;
}

dd{
margin:1px 0 12px 15px;
}

#container{
/*background:#c0c0c0 url(img/bodybg.gif) repeat-x;*/
margin:0 auto;
text-align:left;
/*width:752px;*/
}

#sitename{
/* background:url(img/leaves.jpg) top center no-repeat; */
color:#ffffff;
font-weight:400;
height:80px;
margin:0 20px 10px 0;
text-align:center;
}

#sitename h1{
font-size:2.2em;
margin:0;
padding-top:20px;
}

#sitename span{
font-size:1.6em;
letter-spacing:-1px;
margin:0;
}

#nav{
background:url(img/greypx.gif) bottom left repeat-x;
float:left;
/*width:752px;*/
}

#nav ul{
list-style:none;
margin:0;
padding:0;
}

#nav a{
background:url(img/tabs.gif) no-repeat 100% 0;
color:#808080;
display:block;
font-size:1.2em;
letter-spacing:-1px;
padding:7px 20px 4px 11px;
text-decoration:none;
}

#nav a:hover{
color:#505050;
}

#nav li{
background:url(img/tabs.gif) no-repeat 0 0;
float:left;
margin:0 4px 0 0;
padding:0 0 0 9px;
}

#nav #current{
background:url(img/tabs.gif) no-repeat 0 -41px;
}

#nav #current a{
background:url(img/tabs.gif) no-repeat 100% -41px;
color:#303030;
padding:7px 20px 5px 11px;
}

#navitabs {
clear: both;
}

.navitab {
padding: 4px 8px 4px 8px;
margin: 0 0 4px 0;
text-decoration: none;
color: #D01A71;
background: #e0e0e0 url(/images/corner.gif) top right no-repeat;
/*border-bottom: 1px solid #ffffff;
border-left: 1px solid #ffffff;*/
}

.navitab:hover {
text-decoration: none;
background: #d01a71 url(/images/corner.gif) top right no-repeat;
color: #d0d0d0;
}

.activenavitab {
padding: 4px 8px 5px 8px;
color: #ffffff;
margin: 0 0 5px 0;
text-decoration: none;
background: #373737 url(/images/corner.gif) top right no-repeat;
}

.activenavitab:hover {
text-decoration: none;
color: #d0d0d0;
}

#wrap1{
background:#373737;
border-bottom:1px solid #808080;
/*border-left:1px solid #808080;*/
/*border-right:1px solid #808080;*/
clear:both;
padding:0;
/*width:750px;*/
}

#wrap2{
padding:10px;
/*width:730px;*/
}

#header{
height:30px;
position:relative;
width:730px;
}

#header h1{
float:left;
font-size:1.4em;
margin:0;
width:180px;
}

#topbox{
color:#808080;
margin:0 0 4px;
text-align:right;
}

#topbox a{
color:#d01a71;
}

#topbox a:hover{
text-decoration:underline;
color:#ffffff;
}

#leftside{
float:left;
margin:-15px 0 0;
width:145px;
}

#leftside h1{
font-size:1.4em;
font-weight:400;
}

#leftside img{
	border: 0;
}

#rightside{
float:right;
margin:40px 15px 20px 0;
width:130px;
}

#rightside h1{
font-size:1.4em;
font-weight:400;
margin:0 0 12px;
}

#rightside p{
font-size:0.9em;
margin:2px 0 12px 10px;
}

#rightside img{
border:1px solid #fa9035;
margin:10px 0 5px 5px;
padding:2px;
}

#content{
margin:0px 160px 0 180px;
}

#contentalt{
margin:0px 15px 0 180px;
}

#content p,#contentalt p{
margin:8px 0 0 10px;
}

#content h1,span.heading,#contentalt h1{
color:#808080;
font-size:2em;
font-weight:400;
margin:15px 0 10px;
padding:0;
}

#content h2,#contentalt h2{
color:#505050;
font-size:1.5em;
font-weight:400;
margin:20px 0 10px;
padding:0;
}

/*#content img,#contentalt img{
border:1px solid #fa9035;
float:left;
margin:3px 3px 3px;
}*/

span img
{
float:left;
margin:3px 3px 3px;
}

img.coverart{
float:right;
border: 1px solid white;
margin: 20px 10px 10px 10px;
}

#footer{
clear:both;
color:#a0a0a0;
font-size:0.9em;
margin-top:20px;
padding:1px;
text-align:right;
max-width:730px
}

#footer a{
color:#a0a0a0;
font-weight:400;
}

#footer a:hover{
color:#a0a0a0;
text-decoration:underline;
}

.menublock{
margin-bottom:10px;
}

.nav {
color:#808080;
display:block;
font-size:1.1em;
font-weight:700;
margin-bottom:1px;
padding:2px 2px 2px 10px;
position:relative;
text-decoration:none;
border-right: 5px solid #808080;
width:125px;
}

strike.nav { text-decoration:line-through; }

.nav:hover{
border-right:5px solid #d01a71;
color:#d0d0d0;
background-color: #373737;
padding: 2px 2px 2px 10px;
}

.nav a {
color:#808080;
font-size:1.1em;
font-weight:700;
position:relative;
text-decoration:none;
}

.nav a:hover {
color:#d0d0d0;
background-color: #373737;
}

.nav img {
  border: 0;
  margin: 0;
  float: none;
}

.sub{
font-size:0.9em;
margin-left:20px;
padding:1px 1px 1px 6px;
width:105px;
}

.sub:hover{
border:1px solid #fa9035;
color:#505050;
padding:0 0 0 5px;
}

.intro{
font-weight:700;
}

.active{
background-color: #202020;
border: 1px solid #FFFFFF;
padding: 1px;
margin: 2px;
}

.box{
background:#f8f8f8 url(img/boxbg.gif) top left repeat-y;
border:1px solid #d0d4d4;
color:#505050;
margin:15px auto;
padding:10px 10px 10px 20px;
width:75%;
}

.photo{
margin:5px auto 15px;
padding:5px;
}

.smallcaps{
font-variant:small-caps;
}

.mini{
color:#a0a0a0;
font-size:0.75em;
font-weight:400;
line-height:1.2em;
margin:20px 0 10px 8px;
}

.small{
font-size:0.85em;
}

.large{
font-size:1.4em;
}

.soft{
color:#808080;
}

.normal{
font-weight:400;
}

.sharp{
color:#101010;
}

.center{
text-align:center;
}

.hide{
display:none;
}

/* rails flashes */
.flash {
  border: 1px solid #a0a0a0;
  padding: 1em;
  width: 80%;
}

.flash strong {
  color:#808080;
  size: 0.8em;
}

.flash.notice {
  background: #262;
}

.flash.error {
  background: #622;
}

.tag-counts {
  list-style-type: none;
}

.tag-counts li {
	display: inline;
	padding: 0 0.5em;
	color: #ccc;
}

.tag-counts .count01, .tag-counts .count03, .tag-counts .count05 {
	font-weight: bold;
	color: white;
}

.tag-counts .count01 {
	font-size: 0.8em;
}

.tag-counts .selected {
	font-weight: bold;
	color: #262;
}

.tag-counts .selected, .tag-counts .count05 {
	font-size: 1.2em;
}

#isbn-validation {
	border: 1px solid #ccc;
	padding: 0.2em 1em;
}

.cover_photo {
	border: 1px solid white;
	margin: 5px;
}

.description {
	text-align: justify;
}

.highlight {
	color: yellow;
	font-weight :bold;
}

.add-tag, .remove-tag {
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	padding: 0 0.5em;
}

.add-tag {
	color: green;
}

.remove-tag {
	color: red;
}

#tagList {
	list-style-type: none;
}

#tagList li {
	display: inline-block;
	width: 50%;
}

.itemActions {
	margin-top: 1ex;
	float: right;
}

.itemActions .button-to, .itemActions .button-to div {
	display: inline;
}

.itemActions .button-to {
	padding: 1em;
}

.requests {
	float: right;
}

.currentLoan .button-to {
	padding-top: 1em;
	padding-left: 1em;
}
