html {
  background: #666;
  height: 100%;
}

body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  border-left:  2px solid black;
  border-right: 2px solid black;
  background: white;
  padding: 2em;
}

.head {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

h1 {
  padding-left: 2em;
}

.main {
  border-top: 1px dotted black;
  padding-top: 1em;
}
