<h1><%=h @user.login %></h1>

<% if @user.about %>
	<p class="description"><%= paragraphize @user.about %></p>
<% end %>

<% unless @user.tags.empty? %>
<table>
	<tr><th>Tags:</th>
    <td><%= @user.taggings.map do |t|
      link_to(h(t), tag_path(h(t.to_s)))
    end.join ', ' %></td></tr>
</table>
<% end %>

<%= render :partial => 'items/item_table', :locals => { :items => @items } %>
<%= will_paginate @items %>
