<% content_for :extra_side_links do %>
  <%= link_to 'add video', new_video_path, :class => 'nav' %><br class="hide" />
<% end %>

<h1>Videos in <%= h(@region.name) %></h1>

<% inheriting_view 'items/index' do %>
<% end %>
