<h1>Videos in <%= h(@region.name) %></h1>

<%= render 'items/query' %>

<% if @items.empty? %>
	<p>No videos found in this region.</p>
<% else %>
	<%= render 'items/item_table', :items => @items %>
<% end %>
