<h1>Books in <%= h(@region.name) %></h1>

<%= render 'items/query' %>

<% if @items.empty? %>
	<p>No books found in this region.</p>
<% else %>
	<%= render 'items/item_table', :items => @items %>
<% end %>

<%= will_paginate @items %>
