<h1>Items tagged with <%= h(@tag.name) %></h1>

<% if @items.empty? %>
	<p>No items found with this tag.</p>
<% else %>
	<%= render :partial => 'items/item_table', :locals => { :items => @items } %>
<% end %>

<%= will_paginate @items %>
