<% form_tag loan_path(req), :method => 'put' do -%>
	<fieldset>
		<legend>approve request</legend>
		<label>Due Back:
		<%= calendar_date_select_tag "return_date", "",
			:buttons => false,
			:format => :iso_date,
			:valid_date_check => "date > (new Date()).stripTime()" %></label><br>
		<label>Memo: <%= text_field_tag 'memo' %></label><br>
		<%= submit_tag 'approve' %>
	</fieldset>
<% end %>
