<table>
  <tr><th>title</th><th>owner</th></tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to h(item.title), polymorphic_path(item) %></td>
      <td><%= user_link item.owner %></td>
    </tr>
  <% end %>
</table>
