<h1>Reset Password</h1>

<%= form_tag :method => 'post' do -%>
<p><label for="email">Enter your email:</label><br/>
<%= text_field_tag 'email' %></p>

<p><%= submit_tag 'Reset Password' %></p>
<% end -%>
