<!DOCTYPE html>
<html>
<head>

	<title>
		<%= AppConfig.site_title.untaint %>
		<% if @title %>
			- <%=h @title %>
		<% end %>
	</title>
	<%= stylesheet_link_tag 'andreas06' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<%= calendar_date_select_includes "freelibrary" %>
	<link rel="icon" href="<%= url_for '/favicon.ico' %>">
</head>

<body>
<div id="container">

	<a id="top"></a><p class="hide">Skip to: <a href="#menu">site menu</a> | <a href="#sectionmenu">section menu</a> | <a href="#main">main content</a></p>

	<div id="sitename">
		<h1>e.f.l.</h1>
		<span>Edmonton Free Library</span>
		<a id="menu"></a>
	</div>

	<div id="navitabs">
		<h2 class="hide">Site menu:</h2>
		<% uri = request.request_uri -%>
		<%= navitab 'Welcome', url_for('/'), uri == '/' %>
		<%= navitab "What's New!", url_for('/new'), uri.match(/^\/new/) %>

		<%= navitab 'Books', books_path, uri.match(/\/books/) %>
		<%= navitab 'Videos', videos_path, uri.match(/\/videos/) %>

		<%= navitab 'Tags', tags_path, uri.match(/\/tags/) %>

		<%= navitab 'Find Out More', url_for('/about'), uri.match(/\/about/) %>
		<p class="hide"><a href="#top">Back to top</a></p>
	</div>
	<div id="wrap1">
		<div id="leftside">
			<a id="sectionmenu"></a>
			<%= render :partial => 'layouts/menublock' %>
		</div>

		<a id="main"></a>
		<div id="contentalt">
			<div class="main">
				<% if flash[:notice] %>
					<div class="flash notice">
						<strong>Notice:</strong>
						<p><%= flash[:notice].untaint %></p>
					</div>
				<% elsif flash[:error] %>
					<div class="flash error">
						<strong>Error:</strong>
						<p><%= flash[:error].untaint %></p>
					</div>
				<% end %>

				<%= yield %>

				<p class="hide"><a href="#top">Back to top</a></p>
			</div>
		</div>

		<div id="footer">Copyright 2009 Michael Edwards, Brendan Taylor (<a href="http://github.com/medwards/free-library-on-rails">source</a>) | Design by <a href="http://andreasviklund.com">Andreas Viklund</a></div>
	</div>
</div>
</body>

</html>
