<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <%= stylesheet_link_tag 'main' %>
</head>

<body>
  <div class="head">free library</div>

  <ul>
  <% if current_user %>
    <li>hello, <%= user_link current_user %></li>
    <li><%= link_to 'edit your account', :controller => 'account' %></li>
    <li><%= link_to 'log out', :controller => 'account', :action => 'logout' %></li>
  <% else %>
    <li><%= link_to 'log in', :controller => 'account', :action => 'login' %></li>
    <li><%= link_to 'new account', :controller => 'account', :action => 'signup' %></li>
  <% end %>

    <li><%= link_to 'books', books_path %></li>
    <li><%= link_to 'videos', videos_path %></li>
  </ul>

  <div class="main">
    <% if flash[:notice] %>
      <p style="color: green"><%= flash[:notice].untaint %></p>
    <% elsif flash[:error] %>
      <p style="color: red"><%= flash[:error].untaint %></p>
    <% end %>

    <%= yield  %>
  </div>
</body>

</html>
